<!--BEGIN CSS CONTACT-->


 header{
 	   border-top: 1px solid #cccccc;
     background-color: white; 
 }
   
   .name,
   .heading-contact {
   	   font-family: 'Georgia', Times, Times New Roman,serif;
       font-weight: bold;
       font-size: 2em;
   }

   .heading-connect {
 	     font-family: 'Georgia', Times, Times New Roman;
       font-weight: bold;
       font-size: 1.5em;
   }


   body{
    	background-image: url(../images/noise_lines.png);
   }


   .name {
      background-color: #4aaaa5;
      color: white;
      font-size: 29px;
      padding: 29px;
      margin-top: 0;
      text-align: center;
      float: left;
      margin-left: 103px ; 
        
    }

 /*.name h3:hover {
   background-color: #6edadf !important;
 }*/


    .display {
    	 text-align: right;
    	 padding: 30px 20px 57px 0px;
       font-size: 17px;
       max-width: 100%;
       height: 60px; 
       max-width: 100%;
       background-color: white;
       border-top: 1px solid #cccccc;
       border-bottom: 2px solid #cccccc;
    }

/*.display nav: hover{
  background-color: red !important;
}*/
    .head-About,
    .head-Portfolio{
         border-right: 1px solid #cccccc;
	       margin:10px 10px 10px 0px;
	       color: #777777;
         padding-right: 20px;
    }

   .head-Contact{
       	color: #777777;
      	margin-right: 185px;

    }

/*.head-Contact a: hover{
  color: red  !important;
}*/
  


   .container{
       width: 70%;
       float:left;
    }

   .container{
        min-height: calc(100vh - 20px);
    }

    #main-contact {
      	height: 620px;
      	width: 650px;
      	background-color: white;
      	display: inline-block;
      	border: 1px solid #dddddd;
        padding: 1px;
        margin: 25px 0px 40px 88px;
    }



   .heading-contact {
        color: #4aaaa5; 
       	background-color:white;
        margin: 0px 30px 0px 30px; 
        padding: 40px 30px 30px 2px;
        border-bottom: 3px solid #dddddd;
        font-size: 29px;
        max-width: 900px;
      	min-width: 100px;
   }
   


   .body-contact {
	     color:#777777;
	     background-color: white;
	     width: 95%;
	     margin: 20px 0px 10px 30px;
	     align-content: center;
       padding: 2px 1px 1px 1px;
       font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
       font-size:17px;
   }
 
          #nameForm,
          #emailForm {
    	       padding: 4px;
    	       width: 96%;
             margin-bottom: 8px;
             border: 1.4px solid #dddddd;
    	  }

        

	#submitButton {
	    	background-color: #4aaaa5;
        color: white;
        font-size: 17px;
        padding: 8px 33px;
        margin-top: 12px;
        text-align: center;
        float: left;
          
	}

    .messageForm {
    	height: 196px;
    	width: 96%;
    	border: 1.4px solid #dddddd;
    }	

    img:hover{
        outline: 2px solid #4aaaa5;
        outline-offset: 1px;
    }
    
   .connect {
	   background-color: white;
	   width: 270px;
 	   height: 200px;
	   border: 1px solid #dddddd;
	   margin: 25px 90px 20px 0px;
     padding: 13px 10px ;
 	   float:right;
 }

.heading-connect {
	   color: #4aaaa5; 
 	   border-bottom: 2px solid #dddddd; 
     text-align: center;
     margin: 10px;
     padding-bottom: 13px;
}


.Github{
    margin-left: 13px;
    margin-top: 10px;
    width: 73px;
    height: 73px;
} 




 .LinkedIn{
     margin-top: 10px;
     width: 73px;
     height: 73px;
 }
 

 .StackOverflow {
      margin-top: 10px;
      width: 64px;
      height: 64px;
      margin-left: 3px;
 }

  .footer p {
		   background-color: #666666;
		   color:#cccccc;
		   text-align: center;
		   align-content: center;
	     width: 100%;
		   padding: 40px;
		   border-top: 7px solid #4aaaa5;
		   margin:0px;
		   font-size: 12px;
       clear:both;
       font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
  }

  .footer {
     height: 20px;
  }



<!--END CSS CONTACT-->









